<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>All Complaints</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <h1>Complaint Management System</h1>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
    <h1>All Complaints for {{ department_id }}</h1>
    <table>
        <tr>
            <th>Complaint ID</th>
            <th>Type</th>
            <th>Description</th>
            <th>Date</th>
            <th>Location</th>
            <th>Status</th>
        </tr>
        {% for complaint in complaints %}
        <tr>
            <td>{{ complaint.ComplaintID }}</td>
            <td>{{ complaint.ComplaintType }}</td>
            <td>{{ complaint.Description }}</td>
            <td>{{ complaint.ComplaintDate }}</td>
            <td>{{ complaint.Location }}</td>
            <td>{{ complaint.Status }}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="menu">
        <a href="/update_status">Update Status</a>
    </div>
</body>
</html>